.bg-11 {
  background-image: url(../assets/bg-11.svg);
  background-size: cover;
}
.contact-form-input {
  border: none;
  border-bottom: 1px solid black;
}
.send-message-button {
  background-color: rgba(254, 55, 50, 1);
  font-size: 1.5rem !important;
}
