.infos-container {
  /* Rectangle 104 */
  background: rgba(255, 255, 255, 0.5);
  border-radius: 50px 50px 0px 0px !important;

  mix-blend-mode: lighter;
}
.max-wd-input {
  width: 217.12px;
}
.bg-2 {
  background-image: url("../assets/bg.png");
  background-size: cover;
  background-color: transparent;
}