.register-text {
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  transform: rotate(-90deg);
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3) !important;
  color: transparent;
  -webkit-text-stroke-width: 4px;
  -webkit-text-stroke-color: rgba(255, 255, 255, 1);
  vertical-align: middle;
  font-weight: 600;
  font-family: "Open Sans";
  line-height: 245px;
  opacity: 0.5;
}
.horizotnal-register-text {
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3) !important;
  color: transparent;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: rgba(255, 255, 255, 1);
}
.bg-3 {
  background: linear-gradient(101.48deg, #fe3732 30.86%, #fa5209 70.68%);
  width: 30%;
}

.register-text-width {
  font-size: 10rem !important;
}
.text-orange-color {
  color: rgba(254, 55, 50, 1);
}
.horizontal-register-text {
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3) !important;
  color: transparent;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: rgba(255, 255, 255, 1);
  vertical-align: middle;
  opacity: 0.5;
}

.login-container {
  width: 55%;
  max-width: 600px;
}
@media screen and (max-width: 780px) {
  .register-text-width {
    font-size: 4rem !important;
  }
  .login-container {
    width: 100%;
    max-width: 400px;
  }
}
