.navbar {
  background: linear-gradient(101.48deg, #fe3732 30.86%, #fa5209 70.68%);
  position: relative;
  top: 0;
}
// .navbar-brand {
//   img {
//     height: 90%;
//     width: 70%;
//   }
// }
.header {
  position: sticky;
  top: 0;
  grid-column-start: 1;
  grid-row-start: 1;
  z-index: 2;
}
