.bg-4 {
  background-image: url("../../assets/bg-4.png");
  background-size: fit-content;
  background-size: 100% 100%;
}
.bg-6 {
  background-image: url("../../assets/bg-6.png");
  background-size: 100% 100%;
}
